
@media (max-width: 600px) {

    .date-picker {
        padding: 20px 0;

        > * {
            display: block;
            margin: 8px auto;
        }

        span {
            display: none;
        }
    }

    [class*='table'], tbody {
        display: block;
    }

    .table {
      
        &__row {
          height: auto;  
        }

        td[class^='table__'] {
            padding: 2px 0;
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            width: 100%;
            margin: 0 auto;
        }
         
        &__icon {
          opacity: 1;

        }
      }

    main {
        margin-left: 40px;
        margin-top: 0;
    }

    .nav {
        display: none;
    }

    .list-vertical {
        display: block;
    }
     
    [class^='pop-up__'] {

        p {
            padding: 10px 5px;
            width: 200px;
        }

        input {
            display: block;
            margin: 5px;
        }

        span {
            display: none;
        }
    }
}

@media (max-height: 600px) {
    .aside {
        overflow: scroll;
        
          &__links {
            > li {
              @include centered-text ($standard-box-height * 1.5);
            }

            a {
                font-size: $basic-font-size * 1.2; 
            }
        }
    }
}