@mixin grid ($prefix) {
  @for $i from 1 through 12 {
    .col-#{$prefix}-#{$i} {
      $width: 100% / 12 * $i;
      flex: 0 0 $width;
      max-width: $width;
    }
  }
}

@mixin flex($flex-direction, $align-items, $justify-content) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin border {
  border-bottom: 2px solid $decoration-grey-color;
  padding: 5px 0;
  width: 100%;
}

@mixin center() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin centered-text ($font-size) {
  height: $font-size;
  line-height: $font-size;
}

@mixin no-spacing {
  margin: 0;
  padding: 0;
}

@mixin round-elem ($dimension) {
  width: $dimension;
  height: $dimension;
  border-radius: 50%;
  margin: 0;
}

@mixin position($top: 50%, $left: 50%, $horizontal: -50%, $vertical: -50%, $bottom: auto) {
  position: absolute;
  top: $top;
  left: $left;
  bottom: $bottom;
  transform: translate($horizontal, $vertical);
  -webkit-transform: translate($horizontal, $vertical);
  -ms-transform: translate($horizontal, $vertical);
}

@mixin resize($x, $y) {
  -ms-transform: scale($x, $y); /* IE 9 */
  -webkit-transform: scale($x, $y); /* Safari */
  transform: scale($x, $y); 
}

@mixin transition($target: all, $duration: .3s) {
  transition: $target $duration ease-in-out;
  -moz-transition: $target $duration ease-in-out;
  -webkit-transition: $target $duration ease-in-out;
}