h1 {
    font-family: $logo-font;
    font-size: $basic-font-size * 2.2;
    margin: 0;
}

h2 {
    @include border;
    font-size: ($basic-font-size * 1.3);
    font-weight: 600;
    text-transform: uppercase;
    display: block;
    padding: 8px 10px;
    color: $text-grey-color;
    margin: 0;
    font-family: $header-font;
    text-align: left;
}