/* Colors */
$main-dark-color: #222222;
$main-dark-hover: #2e2e2e;
$main-light-color: #ffffff;
$main-lighten-color: #F7F7F7;

$text-grey-color: #A1A1A1;

$decoration-grey-color: #E8E8E8;

$detail-orange-color: #e58e26;
$detail-blue-color: #3498db;

$success-color: #4cd137;
$error-color: #EA2027;

/* Font sizes */
$basic-font-size: 12px;
$standard-box-height: 20px;

$transition-general: all 1s;
$transition-background: background 0.5s;
$transition-visibility: visibility 0.5s, linear 0.5s, opacity 0.5s;

$standard-border: 1px solid $decoration-grey-color;

/* Fonts */
$logo-font: 'Satisfy', cursive;
$decoration-font: 'Glyphter', Helvetica, Arial;
$header-font: 'Saira Condensed', sans-serif;
$paragraph-text: 'Open Sans', sans-serif;