.postback {
  form {
    width: 100%;
    text-align: right;
  }

  legend {
    font-size: $basic-font-size * 1.1;
    text-align: left;
  }

  &__input-container {
    padding: 0 10px;
    height: 250px;
    overflow: auto;
  }

  &__select-container {
    padding: 0 5px;
    position: relative;

    span {
      position: absolute;
      display: inline-block;
      width: 0;
      height: 0;
      right: 15%;
      top: 60%;
      transform: translate(-60%, -15%);
      padding-right: 5px;
    }
  }

  textarea {
    width: 100%;
    height: calc(100% - 60px);
  }

  label:not([class="label__custom"]) {
    @extend .h4;

    strong {
      color: $error-color;
    }
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    @extend input;
    width: 100%;
    font-size: $basic-font-size * 1.1;
    line-height: 1;
  }
}

.label__custom {
  display: block;
  user-select: none;
  -webkit-user-select: none;
  font-size: $basic-font-size * 1.1;
  padding: 8px 0;
    
  input[type="checkbox"] {
    position: absolute;
    margin: 0;
    width: $standard-box-height;
    height: $standard-box-height;
    opacity: 0;

    + span {
      display: inline-block;
      width: $standard-box-height;
      height: $standard-box-height;
      border: $standard-border;
      margin: 0 15px;

      &::before {
        opacity: 0;
        padding: 0;
        width: 100%;
        @include centered-text ($standard-box-height);
        text-align: center;
      } 
    }

    &:checked + span {
      border-color: $error-color;
      background: $error-color;

      &::before {
        opacity: 1;
        color: $main-light-color;

      }
    }
  }
}

/* Custom Range Slider */

.range-slider-wrapper {
  @include centered-text (calc(100% - 40px));
  width: 80%;
  margin: 0 auto;
}

.rangeslider {
  top: 50%;
  background-color: $decoration-grey-color;
  border-radius: 0;
  height: 0.2rem;
  position: relative;

  &__labels {
    position: absolute;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    
    &__label {
      font-size: 0.75em;
      position: relative;
      padding-top: 15px;
      color: $text-grey-color;
    }
  }

  &__fill {
    background-color: $detail-orange-color;
    border-radius: 0;
  }

  &__handle {
    width: $standard-box-height;
    height: $standard-box-height;
    position: absolute;
    @include transition(transform);
    
    &::after {
      display: none;
    }
  
    &:hover, &:active {
      @include resize(1.2,1.2);
      @include transition(transform, .1s);
    }
  }

  &__value-bubble {
    @include position(auto, 50%,-50%,0, 2.5rem);
    text-align: center;
    background-color: $detail-orange-color;
    padding: 1rem;
    color: $decoration-grey-color;
    width: auto;
    margin: 0;
    white-space: nowrap;
    
    &::before {
      content: "";
      width: 0;
      height: 0;
      border-left: 1rem solid transparent;
      border-right: 1rem solid transparent;
      border-top: 1rem solid $detail-orange-color;
  
      @include position(auto, 50%, -50%, -45%, -1rem);
    }
  }
}