.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: transparentize($main-dark-color, 0.5);
  transition: $transition-visibility;
  z-index: 3;
  display: none;
  overflow: auto;
  padding: 30px;
}
  
[class^='modal__'] {
  background: $main-light-color;
  display: none;
  border-radius: 5px;
  padding: 5px;
  z-index: 4;
  text-align: right;
  transition: $transition-visibility;
  min-width: 50%;

  h2 {
    @include flex (row, center, space-between);

    span:last-child {
      padding-left: 15px;
    }
  }
}


.active.modal {
  @include flex (row, center, center);
  transition: $transition-visibility;

  .active[class^='modal__'] {
    display: block;
  }

  .active.modal__login {
    @include flex (row, center, center);
    flex-wrap: wrap;
  }
  
}

[class^='chat']:not(.chat__message) {
  @include border;
  padding: 15px 10px;
}

.chat__header {
  @include flex (row, center, flex-start);
  padding: 15px 10px;

  .img-box {
    @include round-elem ($standard-box-height * 4);
  }

  span {
    font-size: $basic-font-size * 2;
    padding-left: 8px;
    padding-bottom: 15px;
    position: relative;

    &::after {
      content: 'online';
      background: $success-color;
      font-size: $basic-font-size;
      border-radius: 5px;
      color: $main-light-color;
      padding: 0 2px;
      position: absolute;
      bottom: -10px;
      left: 10px;
    }
  }
}

.chat__conversation {
  height: 40vh;
  overflow: auto;
}

.chat__message {
  @include flex (row, center, space-around);
  position: relative;

  textarea {
    width: calc(100% - 60px);
    height: 40px;
    padding-left: 35px;
  }

  span {
    position: absolute;
    z-index: 2;
    left: 6px;
    color: $text-grey-color;
  }
}